---
layout: default
title : Photography
navbar_title: Photography
container_class: container-xl
---

{% assign groups = site.photography | sort: "date" | reverse | where: "show", true | group_by_exp: "item", "item.group | default: 'Other Photos'" %}

{% for group in groups %}
<h4 class="mt-4 mb-3 font-weight-normal">{{ group.name }}</h4>
<div class="row grid mb-4">
    <div class="grid-sizer col-1"></div>
    {% for item in group.items %}
    {% if item.width >= 6 -%}
        {%- assign width_sm = 12 -%}
        {%- assign width_xs = 12 -%}
    {%- elsif item.width >= 2 -%}
        {%- assign width_sm = 6 -%}
        {%- assign width_xs = 6 -%}
    {%- else -%}
        {%- assign width_sm = item.width | times: 2 | at_most: 12 -%}
        {%- assign width_xs = item.width | times: 2 | at_most: 12 -%}
    {%- endif -%}
    <div class="p-2 grid-item col-md-{{ item.width | at_most: 12 }} col-sm-{{ width_sm }} col-{{ width_xs }}">
        <div class="card border-0 shadow-sm bg-white">
            {{ item.content }}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
